<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>All Memes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}">
</head>

<body>

    <div class="container">

        <button type="button" class="btn btn-primary" onclick="location.href='/add-meme';">Add Meme</button>
        <h1 class="text-center mb-4">All Memes</h1>

        <div class="row">

            <!-- Loop through each meme and render an image with description -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" th:each="meme : ${memes}">
                <div class="card">
                    <img th:src="${meme.url}" class="card-img-top" alt="Meme Image"
                        style="width: 400px; height: 400px;">
                    <div class="card-body">
                        <p class="card-text" th:text="${meme.description}"></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>

</body>

</html>